* {
  box-sizing: border-box;
}

html {
  margin: auto;
}

body {
  padding: 88px 80px 0px;
  background-color: #F5F4F0;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

p {
  color: #333333;
  margin-top: 0;
}

span {
  text-transform: uppercase;
  color: #E1624F;
  font-weight: bold;
  line-height: 22px;
}

h1 {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  color: #1B1B1B;
  margin: 8px 0 40px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1B1B1B;
  line-height: 44px;
  margin: 0 0 8px;
}

h3 {
  margin: 0 0 4px;
  line-height: 38px;
}

ol {
  padding: 0;
  margin: 0;
}

ol li {
  font-size: 28px;
  font-weight: bold;
  color: #1B1B1B;
  margin-left: 35px;
}

ol li::marker {
  font-size: 115%;
}

ul {
  padding-left: 18px;
  padding-bottom: 48px;
}

ul li {
  font-size: 16px;
  font-weight: bold;
  color: #0C51A7;
  list-style: disc;
  margin: 0;
}

ul li::marker {
  font-size: small;
}

.purple-li {
  color: #591B98;
}

.pink-li {
  color: #E5245E;
}

.orange-li {
  color: #E95E10;
}

#last-list {
  padding-bottom: 0;
}

.caption {
  color: #333333;
  font-style: italic;
  text-align: center;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 40px;
}

#title-list {
  padding: 64px 0 64px;
}

img {
  border-radius: 28px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.img-travel {
  margin-bottom: 20px;
}

.park {
  object-position: 100% 80%;
}

.busan {
  height: 660px;
}

.heart {
  width: 14px;
  height: 12px;
}

hr {
  margin: 0;
}

.last-hr {
  margin: 40px 0 40px;
}

.description {
  text-align: center;
}

footer {
  text-align: center;
  margin: 65px 0 48px;
  line-height: 24px;
}